.hbox {
    -fx-background-color: linear-gradient(#d2e2ff, #36d8ff),
    radial-gradient(center 50% -40%, radius 200%, #78d3e9 45%, #58b8d9 50%);
    -fx-background-insets: 0, 1;
}

.pdfbutton {
    -fx-background-color: linear-gradient(#ffd3ab, #ff8140),
    radial-gradient(center 50% -40%, radius 200%, #e9845a 45%, #d94d37 50%);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 10;
}
